nodered/flow.json
[
    {
        "id": "7bd6a5989f03b3da",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9bd343734f02a329",
        "type": "mqtt in",
        "z": "7bd6a5989f03b3da",
        "name": "Telemetry",
        "topic": "iot/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7024a621c7c60bf3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 240,
        "wires": [
            [
                "273fd460ce0fa331"
            ]
        ]
    },
    {
        "id": "273fd460ce0fa331",
        "type": "json",
        "z": "7bd6a5989f03b3da",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 530,
        "y": 240,
        "wires": [
            [
                "ce3d1933194d53c1",
                "afb816deb9fbdcc1",
                "8ce3092787afa5fd",
                "ab229f04d3b01085"
            ]
        ]
    },
    {
        "id": "3474bd6b85df780d",
        "type": "ui_chart",
        "z": "7bd6a5989f03b3da",
        "name": "Temperature (°C)",
        "group": "605056de7193c6f0",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3a572b61df59e723",
        "type": "ui_gauge",
        "z": "7bd6a5989f03b3da",
        "name": "Humidity (%)",
        "group": "ea259cb173e4a95b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "ce3d1933194d53c1",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "Temp-Extract",
        "func": "msg.payload = msg.payload.tempC;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 320,
        "wires": [
            [
                "3474bd6b85df780d",
                "a69ba172b7117434",
                "4fe823c0ea7ce615"
            ]
        ]
    },
    {
        "id": "afb816deb9fbdcc1",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "Humidity extractor",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 420,
        "wires": [
            [
                "49951d0f7df3462a",
                "3a572b61df59e723",
                "847467cb06ba5142"
            ]
        ]
    },
    {
        "id": "a69ba172b7117434",
        "type": "ui_gauge",
        "z": "7bd6a5989f03b3da",
        "name": "",
        "group": "605056de7193c6f0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Temperature (°C)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0040ff",
            "#00e61b",
            "#f00000"
        ],
        "seg1": "15",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "49951d0f7df3462a",
        "type": "ui_chart",
        "z": "7bd6a5989f03b3da",
        "name": "",
        "group": "ea259cb173e4a95b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Current Humidity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "319add30c6da63d1",
        "type": "ui_colour_picker",
        "z": "7bd6a5989f03b3da",
        "name": "Color picker",
        "label": "Color picker",
        "group": "6d308aaa790616ec",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": true,
        "showPicker": true,
        "showValue": false,
        "showHue": true,
        "showAlpha": true,
        "showLightness": false,
        "square": "true",
        "dynOutput": "false",
        "order": 0,
        "width": "2",
        "height": "2",
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "413889ad4e92667a"
            ]
        ]
    },
    {
        "id": "e0d7ad32ddce16e1",
        "type": "mqtt out",
        "z": "7bd6a5989f03b3da",
        "name": "LED command",
        "topic": "iot/cmd/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7024a621c7c60bf3",
        "x": 660,
        "y": 560,
        "wires": []
    },
    {
        "id": "413889ad4e92667a",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "function 1",
        "func": "msg.payload = {\n    r: msg.payload.r,\n    g: msg.payload.g,\n    b: msg.payload.b\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "e0d7ad32ddce16e1"
            ]
        ]
    },
    {
        "id": "ba76eae2c3f40229",
        "type": "ui_numeric",
        "z": "7bd6a5989f03b3da",
        "name": "",
        "label": "Update Interval (ms)",
        "tooltip": "",
        "group": "6d308aaa790616ec",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": "500",
        "max": "60000",
        "step": "500",
        "className": "",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "3ccccae15865ccf4"
            ]
        ]
    },
    {
        "id": "3ccccae15865ccf4",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "function 2",
        "func": "msg.payload = { interval: msg.payload };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 660,
        "wires": [
            [
                "5cb8fa565202fef6"
            ]
        ]
    },
    {
        "id": "5cb8fa565202fef6",
        "type": "mqtt out",
        "z": "7bd6a5989f03b3da",
        "name": "Interval Command",
        "topic": "iot/cmd/interval",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7024a621c7c60bf3",
        "x": 670,
        "y": 660,
        "wires": []
    },
    {
        "id": "9541053411a4e96f",
        "type": "influxdb out",
        "z": "7bd6a5989f03b3da",
        "influxdb": "2a1bfdc60dea8c69",
        "name": "DB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "iot-lab",
        "bucket": "esp32_data",
        "x": 1030,
        "y": 40,
        "wires": []
    },
    {
        "id": "8ce3092787afa5fd",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "To-DB",
        "func": "msg.measurement = \"esp32_telemetry\";\nmsg.payload = {\n    temperature: msg.payload.tempC,\n    humidity: msg.payload.humidity,\n    wifiRssi: msg.payload.wifiRssi_dBm\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 40,
        "wires": [
            [
                "9541053411a4e96f"
            ]
        ]
    },
    {
        "id": "ab229f04d3b01085",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "Range-Extractor",
        "func": "msg.payload = msg.payload.wifiRssi_dBm;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 140,
        "wires": [
            [
                "31c10ad63cb4bca4",
                "bd9c35ccdb3146b9"
            ]
        ]
    },
    {
        "id": "31c10ad63cb4bca4",
        "type": "ui_gauge",
        "z": "7bd6a5989f03b3da",
        "name": "",
        "group": "bc4dae18beef13e6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current Wifi Range (dBm)",
        "label": "units",
        "format": "{{value}}",
        "min": "-200",
        "max": "0",
        "colors": [
            "#ff0000",
            "#eeff00",
            "#52cb3a"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "bd9c35ccdb3146b9",
        "type": "ui_chart",
        "z": "7bd6a5989f03b3da",
        "name": "",
        "group": "bc4dae18beef13e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Wifi Range (dBm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4fe823c0ea7ce615",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "Temp-Alert",
        "func": "const threshold = 40;  // °C alert threshold\nconst hysteresis = 1;  // prevents flickering\nconst temp = msg.payload;\n\nlet state = context.get(\"state\") || \"normal\";\nlet output1 = null; \nlet output2 = null; \n\nif (temp > threshold && state !== \"alert\") {\n    context.set(\"state\", \"alert\");\n    output1 = {\n        payload: `🔥 ALERT: Temperature too high! (${temp.toFixed(1)} °C)`,\n        color: \"red\"\n    };\n}\nelse if (temp < (threshold - hysteresis) && state !== \"normal\") {\n    context.set(\"state\", \"normal\");\n    output2 = {\n        payload: `No Alerts`,\n        color: \"green\"\n    };\n}\nreturn [output1, output2];",
        "outputs": 2,
        "timeout": "0",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 340,
        "wires": [
            [
                "6d41d56d9a6a4f86"
            ],
            [
                "6d41d56d9a6a4f86"
            ]
        ]
    },
    {
        "id": "847467cb06ba5142",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "Humidity-Alert",
        "func": "const high = 60;  // upper threshold\nconst low = 35;   // lower threshold\nconst hysteresis = 2;\nconst hum = msg.payload;\n\nlet state = context.get(\"state\") || \"normal\";\nlet alert = null;\nlet cleared = null;\n\nif (hum > high && state !== \"high\") {\n    context.set(\"state\", \"high\");\n    alert = {\n        payload: `⚠️ High humidity detected (${hum.toFixed(1)}%)!`,\n        color: \"orange\"\n    };\n}\nelse if (hum < high - hysteresis && state === \"high\") {\n    context.set(\"state\", \"normal\");\n    cleared = {\n        payload: `No Alerts`,\n        color: \"green\"\n    };\n}\nelse if (hum < low && state !== \"low\") {\n    context.set(\"state\", \"low\");\n    alert = {\n        payload: `💧 Low humidity detected (${hum.toFixed(1)}%)!`,\n        color: \"blue\"\n    };\n}\nelse if (hum > low + hysteresis && state === \"low\") {\n    context.set(\"state\", \"normal\");\n    cleared = {\n        payload: `No Alerts`,\n        color: \"green\"\n    };\n}\n\nreturn [alert, cleared];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 540,
        "wires": [
            [
                "09c0d4a5eefc5dac"
            ],
            [
                "09c0d4a5eefc5dac"
            ]
        ]
    },
    {
        "id": "6d41d56d9a6a4f86",
        "type": "ui_text",
        "z": "7bd6a5989f03b3da",
        "group": "605056de7193c6f0",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "System Alert",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "09c0d4a5eefc5dac",
        "type": "ui_text",
        "z": "7bd6a5989f03b3da",
        "group": "ea259cb173e4a95b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "System Alert",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1150,
        "y": 540,
        "wires": []
    },
    {
        "id": "5b68351e31537d98",
        "type": "inject",
        "z": "7bd6a5989f03b3da",
        "name": "Startup Restore",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "ecc73103213ee1d4"
            ]
        ]
    },
    {
        "id": "ecc73103213ee1d4",
        "type": "influxdb in",
        "z": "7bd6a5989f03b3da",
        "influxdb": "2a1bfdc60dea8c69",
        "name": "DB-In",
        "query": "from(bucket: \"esp32_data\")\n  |> range(start: -24h)\n  |> filter(fn: (r) => \n      r._measurement == \"esp32_telemetry\" and \n      (r._field == \"temperature\" or r._field == \"humidity\" or r._field == \"wifiRssi\"))\n  |> last()",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "iot-lab",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "6ffa6f702fdb0cad"
            ]
        ]
    },
    {
        "id": "6ffa6f702fdb0cad",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "Filter",
        "func": "let data = msg.payload;\nif (!Array.isArray(data) || data.length === 0) return null;\n\nlet result = {\n    temperature: null,\n    humidity: null,\n    wifiRssi: null,\n    timestamp: null\n};\n\nfor (let point of data) {\n    switch (point._field) {\n        case \"temperature\":\n            result.temperature = parseFloat(point._value.toFixed(2));\n            break;\n        case \"humidity\":\n            result.humidity = parseFloat(point._value.toFixed(2));\n            break;\n        case \"wifiRssi\":\n            result.wifiRssi = parseFloat(point._value.toFixed(2));\n            break;\n    }\n\n    if (point._time) result.timestamp = point._time;\n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 160,
        "wires": [
            [
                "53fe83c1faa2e2c8"
            ]
        ]
    },
    {
        "id": "53fe83c1faa2e2c8",
        "type": "function",
        "z": "7bd6a5989f03b3da",
        "name": "Restore-to-Dashboard",
        "func": "let d = msg.payload;\n\nmsg.topic = \"iot/telemetry\";\nmsg.payload = {\n    deviceLabel: \"esp32\",\n    ts_ms: Date.now(),\n    tempC: d.temperature,\n    humidity: d.humidity,\n    wifiRssi_dBm: d.wifiRssi\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 160,
        "wires": [
            [
                "273fd460ce0fa331"
            ]
        ]
    },
    {
        "id": "7024a621c7c60bf3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "605056de7193c6f0",
        "type": "ui_group",
        "name": "ESP-Temperature",
        "tab": "66d4dd7983f026bb",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea259cb173e4a95b",
        "type": "ui_group",
        "name": "ESP-Humidity",
        "tab": "66d4dd7983f026bb",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d308aaa790616ec",
        "type": "ui_group",
        "name": "ESP-Controls",
        "tab": "66d4dd7983f026bb",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a1bfdc60dea8c69",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "DB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": false
    },
    {
        "id": "bc4dae18beef13e6",
        "type": "ui_group",
        "name": "ESP-Wifi-Range",
        "tab": "66d4dd7983f026bb",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "66d4dd7983f026bb",
        "type": "ui_tab",
        "name": "ESP32 IoT Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c6702123cc485abf",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]